<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
  <div class="topnav" id="myTopnav">
    <a routerLink="/" class="logo">DeveloperAtYourDoor</a>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact us</a>
    <a routerLink="/adddeveloper" class="button"><strong>New Developer ?</strong></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <!-- <div class="container">
    <a routerLink="/" class="logo">DeveloperAtYourDoor</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/adddeveloper" class="button"><strong>New Developer ?</strong></a></li>
      </ul>
    </nav>
  </div> -->
</header>
